/* top right bottom left */	

#container {
    height: 100%;
    width: 100%;
    background: #f8f8f8;
    
}
#appMain {
    height: 500px;
    width: 810px;
    border-width: 1 2 2 2;
    -webkit-border-image: url(../images/workspace.png) 1 2 2 2 stretch stretch;	
}

#mainContent {
	height: 100%;
	width: 610px;
	float: right;
	background: #f1f1f1;
}

/*Navigation*/
#logo {
	width: 150px;
	margin: 40px 0px 20px 0px;
}

#lefNav {
	width: 199px;
	height: 100%;
	float: left;
	border-right: 1px solid #d1d1d1;
}
.navigation {
	display: block;
	padding: 15px 0px 0px 0px;
	height: 30px;
	width: 100%;
	cursor: pointer;
	font-size: 18px;
	color: #333;
}

.navActive {
	background: #26ab6c;
	cursor: pointer;
	color: #ffffff;
}

.navActive:hover {
	background: #26ab6c !important;
	cursor: default !important;
	color: #ffffff;
}

.navigation:hover {
	background: #2bc079;
	cursor: pointer;
	color: #ffffff;
}

.navigation:nth-child(1) {
	margin-top: 60px;
}

.contentView {
	display: none;
	margin-top: 20px;
}





/*Welcome Screen*/
#welcomeTitle {
	display: block;
	font-size: 22px;
	font-weight: bold;
	margin-top: 60px;
}
#welcomeText {
	display: block;
	margin-top: 20px;
	width: 500px;
	font-size: 15px;
	line-height: 20px;
}

/*Manage Rules*/
#ruleDescription {
	font-size: 15px;
	line-height: 20px;
	height: 40px;
	display: block;
	padding: 20px;
}
#addRule {
	display: block;
	font-size: 16px;
	left: 20px;
	height: 22px;
	width: 100px;
	background: #26ab6c;
	padding-top: 8px;
	color: #ffffff;
	cursor: pointer;
	margin-bottom: 20px;
}
#manageRules {
	position:relative;
}

#ruleList {
	position: absolute;
	width:100%;
	height: 350px;
	overflow: scroll;
	overflow-x: hidden;
	border-top: 1px solid #d1d1d1;
}

#addRule:hover {
	background: #229660;
}

.ruleContainer {
	width: 100%;
	height: 60px;
}
.ruleContainer:nth-child(odd) {
	background-color: #f8f8f8;
}
.ruleTitle {
	float: left;
	margin: 24px 0px 0px 20px;
	font-size: 18px;
}
.ruleOptions {
	float: right;
	margin-top: 15px;
	font-size: 14px;
}
.editRule {
	display: inline-block;
	height: 22px;
	width: 80px;
	background: #26ab6c;
	padding-top: 8px;
	margin-right: 10px;
	color: #ffffff;
	cursor: pointer;
}
.editRule:hover {
	background: #229660;
}
.removeRule {
	display: inline-block;
	height: 22px;
	width: 80px;
	background: #6d6d6d;
	padding-top: 8px;
	margin-right: 20px;
	color: #ffffff;
	cursor: pointer;
}
.removeRule:hover {
	background: #5e5e5e;
}


/*Edit Rules*/
#ruleForm {
	text-align: left;
	margin: 20px 0px 0px 20px;
	font-size: 15px;
}
#editRuleTable tr {
	display: block;
	margin-top: 20px;
}

#ruleForm p {
	margin-top: 40px;
}

#folderBrowse {
	height: 30px;
	width: 80px;
	background: #26ab6c;
	padding-top: 3px;
	margin-right: 10px;
	color: #ffffff;
	cursor: pointer;
	border: 0px;
}




#grip {
    position: absolute;
    right: 8px;
    bottom: 12px;	
}
.controls {
	position:absolute;
	top:20px;
	right:15px;
	font-size:11px;
}
#minimize, 
#close {
	display:inline-block;
	margin-left:4px;
	color:#333;
	padding:5px 10px 5px 10px;
	border:1px solid #333;
    width:55px;
	text-align:center;	
}
#minimize span, 
#close span {
	display:inline-block;
	padding-left:10px;
}
#add {
    right: 80px;
    top: 15px;
}
#add img {
    float: left;
    margin-left: 11px;
    margin-top: 11px;
}