<config>
	<dirs>
		<dir>
			<folder>C:/Users/Jake/Desktop/TestFolder1</folder>
			<rule>
				<type>doc</type>
				<svc>google_docs</svc>
			</rule>
			<rule>
				<type>png</type>
				<svc>flickr</svc>
			</rule>
		</dir>
		<dir>
			<folder>C:/Users/Jake/Desktop/TestFolder2</folder>
			<rule>
				<type>txt</type>
				<svc>google_docs</svc>
			</rule>
		</dir>
	</dirs>
</config>